{% extends 'email_reader/base.html' %}

{% block title %}Email Form{% endblock %}

{% block content %}
</div>
<div class="container">
    <h1 class="my-4">
        {% if form.instance.pk %}
            Edit Email
        {% else %}
            New Email
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="{{ form.email_id.id_for_label }}" class="form-label">{{ form.email_id.label_tag }}</label>
            {{ form.email_id }}
            {{ form.email_id.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label_tag }}</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.price.id_for_label }}" class="form-label">{{ form.price.label_tag }}</label>
            {{ form.price }}
            {{ form.price.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.detail.id_for_label }}" class="form-label">{{ form.detail.label_tag }}</label>
            {{ form.detail }}
            {{ form.detail.errors }}
        </div>
        <div class="d-flex justify-content-start">
            <button type="submit" class="btn btn-outline-primary">
                {% if form.instance.pk %}
                    Update
                {% else %}
                    Save
                {% endif %}
            </button>
            {% if form.instance.pk %}
            <a href="{% url 'email_delete' form.instance.pk %}" class="btn btn-outline-danger ms-2">Delete</a>
            {% endif %}
            <a href="{% url 'email_list' %}" class="btn btn-outline-secondary ms-2">Cancel</a>
        </div>
    </form>
    <br></br>
    <a href="{% url 'home' %}" class="btn btn-outline-primary mb-3">Home</a>
</div>

{% endblock %}
