{% extends 'email_reader/base.html' %}

{% block title %}Email Form{% endblock %}

{% block content %}
    <style>
        .btn {
            margin: 5px;
        }
    </style>
    <div class="container">
        <h1 class="my-4">Email List</h1>
        <a href="{% url 'email_create' %}" class="btn btn-outline-primary mb-3">Add New Email</a>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Details</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in emails %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ email.name }}</td>
                        <td>{{ email.price }}</td>
                        <td>{{ email.detail }}</td>
                        <td>
                            <a href="{% url 'email_detail' email.pk %}" class="btn btn-outline-info btn-sm">View</a>
                            <a href="{% url 'email_update' email.pk %}" class="btn btn-outline-warning btn-sm">Edit</a>
                            <a href="{% url 'email_delete' email.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary mb-3">Home</a>
    </div>
{% endblock %}
